<main>
  <ul class="sidebar-container">
    <li class="sidebar-item">
      <img src="/icons/bars.svg" alt="-" />
    </li>
    <li class="sidebar-item">
      <img src="/icons/pen.svg" alt="pen" />
    </li>
    <li class="sidebar-item">&nbsp;</li>
    <li class="sidebar-item">
      <img src="/icons/mail.svg" alt="mail" />
      <p>Mail</p>
    </li>
    <li class="sidebar-item">
      <img src="/icons/chat.svg" alt="chats" />
      <p>Chats</p>
    </li>
    <li class="sidebar-item">
      <img src="/icons/groups.svg" alt="grupos" />
      <p>Grupos</p>
    </li>
    <li class="sidebar-item">
      <img src="/icons/meet.svg" alt="meet" />
      <p>Meet</p>
    </li>
  </ul>
  <div class="container">
    <div class="top-container">
      <div class="search-container">
        <button type="button" class="top-btn" id="search-btn">
          <img src="/icons/search.svg" alt="Q" />
        </button>
        <input type="search" name="searcher" id="searcher" placeholder="Buscar" />
        <button type="button" class="top-btn" id="voice-btn">
          <img src="/icons/microphone.svg" alt="&" />
        </button>
      </div>
      <div class="profile-container">
        <div class="student-name">
          <h3>Jośe Villegas</h3>
          <p>Estudiante</p>
        </div>
        <button type="button" class="profile-btn">
          <img src="/icons/user.svg" alt="(n)" />
        </button>
      </div>
    </div>
    <div class="divider">&nbsp;</div>
    <div class="middle-container">
      <div class="dropdowns-container">
        <div class="dropdown">
          <h3>Materias</h3>
          <img src="/icons/dropdown_arrow.svg" alt="v" class="dropdown-icon" />
        </div>
        <div class="dropdown">
          <h3>Docentes</h3>
          <img src="/icons/dropdown_arrow.svg" alt="v" class="dropdown-icon" />
        </div>
        <div class="dropdown">
          <h3>Estudiantes</h3>
          <img src="/icons/dropdown_arrow.svg" alt="v" class="dropdown-icon" />
        </div>
        <div class="dropdown">
          <h3>Grupos</h3>
          <img src="/icons/dropdown_arrow.svg" alt="v" class="dropdown-icon" />
        </div>
      </div>
      <div class="notification-header">
        <h2>Mantente al día</h2>
      </div>
      <div class="notifications-container">
        <img src="/icons/notification.svg" alt="!?" />
        <div class="notifications">
          <h4>Metodología y Testing</h4>
          <p>
            Deberán entregar el TP N°3 el día 4 de Noviembre, la entrega cierra a las 19:10hs.
            Cualquier consulta, se comunican conmigo.
          </p>
          <div class="attached-file">
            <img src="/icons/file.svg" alt="#" />
            <p>Trabajo Práctico N° 3 - Investigación Metodologías</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vert-divider">&nbsp;</div>

  <div class="actives-container">
    <span>Activos</span>
    <div class="divider">&nbsp;</div>
    <div class="actives-list">
      <ul>
        <li class="active-user">
          <div class="user-info">
            <p class="pfp">M</p>
            <p>Matias Lopez</p>
          </div>
          <input type="checkbox" name="" id="" />
        </li>
        <li class="active-user">
          <div class="user-info">
            <p class="pfp">A</p>
            <p>Abril Sanchez</p>
          </div>
          <input type="checkbox" name="" id="" />
        </li>
        <li class="active-user">
          <div class="user-info">
            <p class="pfp">L</p>
            <p>Luciana Gonzalez</p>
          </div>
          <input type="checkbox" name="" id="" />
        </li>
        <li class="active-user">
          <div class="user-info">
            <p class="pfp">V</p>
            <p>Victoria Villanueva</p>
          </div>
          <input type="checkbox" name="" id="" />
        </li>
        <li class="active-user">
          <div class="user-info">
            <p class="pfp">J</p>
            <p>Jorge Castro</p>
          </div>
          <input type="checkbox" name="" id="" />
        </li>
        <li class="active-user">
          <div class="user-info">
            <p class="pfp">L</p>
            <p>Lautaro Gimenez</p>
          </div>
          <input type="checkbox" name="" id="" />
        </li>
        <li class="active-user">
          <div class="user-info">
            <p class="pfp">Z</p>
            <p>Zoe Muñoz</p>
          </div>
          <input type="checkbox" name="" id="" />
        </li>
        <li class="active-user">
          <div class="user-info">
            <p class="pfp">P</p>
            <p>Pedro Hodar</p>
          </div>
          <input type="checkbox" name="" id="" />
        </li>
        <li class="active-user">
          <div class="user-info">
            <p class="pfp">S</p>
            <p>Sol Diaz</p>
          </div>
          <input type="checkbox" name="" id="" />
        </li>
        <li class="active-user">
          <div class="user-info">
            <p class="pfp">L</p>
            <p>Lilen Pereira</p>
          </div>
          <input type="checkbox" name="" id="" />
        </li>
      </ul>
    </div>
  </div>
</main>
