<main>
  <div class="form-container">
    <div class="form-header">
        <h2>Iniciar Sesión</h2>
    </div>
    <form method="post">
      <label for="dni">Ingresa tu DNI (sin puntos)</label>
      <input type="text" maxlength="8" name="dni" id="dni" />
      <p class="error-message" id="dniLength">
        El DNI debe contener al menos 8 caracteres.
      </p>
      <p class="error-message" id="dniFormat">
        Formato incorrecto. Porfavor, ingresa un DNI válido.
      </p>
      <p class="error-message" id="dniNotFound">
        Usuario no encontrado. Si no te has registrado, hazlo ahora para ingresar.
      </p>
      <label for="password">Ingresa tu contraseña</label>
      <input type="password" name="password" id="password" />
      <p class="error-message" id="wrongPassword">
        Contraseña incorrecta. Intentalo de nuevo.
      </p>
    </form>
    <p>¿Aún no tenés cuenta? <a routerLink="/register">Registrate</a></p>
    <button type="submit" (click)="getFormData($event)">Ingresar</button>
  </div>

  <div class="data-test">
    <h3>Datos de Prueba</h3>
    <div>
        <p><b>DNI:</b> 49582811</p>
        <p><b>Contraseña:</b> jose123</p>
    </div>
  </div>
</main>
